@charset "utf-8";

div,p,body,header,footer,section,article,nav,h1,h2,h3,h4 {
margin: 0;
padding: 0;
}

img {
border: none;
/*margin: 0;*/
/*padding: 0;*/
}


body {
  font-family: 'Anton', Helvetica, Arial, sans-serif;
  font-family: 'Barlow', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #0d0f35;
}


.hidden
{
  display: none;
}


.container{
  margin: 0 auto;

	/*width: 100%;*/
}


.topBar{
  	margin-top: 40px;
  	/*margin-left: 60px;*/
    position: relative;

    /*flex-direction: flow;*/
    /*justify-content: flex-end;*/
  }

#eletronicMu{
   font-family: 'Anto', Helvetica, Arial, sans-serif;
   font-size: 50px;
   color: #fff;
   text-align: center;
   letter-spacing: 5px;
   /*margin-right: 50px;*/
   line-height: 50px;

}

#intro {
  font-family: 'Barlow', Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-top: 2%;
  margin-left: 2%;
  /*margin-right: 60px;*/
  /*margin-bottom: 3%;*/

}

#intro2 {
  font-family: 'Barlow', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 10px;
  margin-top: 2%;
  margin-left: 2%;
  /*margin-right: 60px;*/
  margin-bottom: 5%;

}

.electro
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*width: 100%;*/
}

.drop-zone
{
  /*margin-left: 1%;*/
  display: flex;
  flex-direction: row;
}

#recordplayerArea
{
  width: 100%;
  margin-top: 70px;
  z-index: 99;
}

.overlay
{
  position: absolute;
  visibility: hidden;
  width: 30%;
  margin-top: -17.5%;
  margin-left: 4.5%;
}

.hovered
{
  display: none;
}

.overlay p
{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  color: #fff;
  font-size: 47px;
/*  margin-left: 85px;
  margin-top: 80px;*/
  -webkit-animation: colored 1s ease infinite alternate;
}

#recordplayerArea:hover .overlay
{
  visibility: visible;
}

@-webkit-keyframes colored{
  0%{
    text-shadow: 3px 3px #161242;
  }
  10%{
    text-shadow: 4px 4px #dd4ce9;
  }
  20%{
    text-shadow: 5px 5px #c48def;
  }
  30%{
    text-shadow: 3px 3px #18d0f7;
  }
  40%{
    text-shadow: 4px 4px #161242;
  }
  50%{
    text-shadow: 5px 5px #c48def;
  }
  60%{
    text-shadow: 3px 3px #267fe5;
  }
  70%{
    text-shadow: 4px 4px #d4088c;
  }
  80%{
    text-shadow: 5px 5px #3db4ae;
  }
  90%{
    text-shadow: 3px 3px #161242;
  }
  100%{
    text-shadow: 4px 4px #dd4ce9;
  }
}

/*#recordPlayer
{
  width: 40%;
}*/

.recordBase
{
  position: relative;
  width: 270%;
  opacity: 0.7;
}

.record
{
  position: absolute;
  width: 23%;
  margin-left: 1.8%;
  margin-top: -27%;
  opacity: 0.8;
}

.recordplay
{
  /*position: absolute;
  width: 154.5px;
  margin-left: 14px;
  margin-top: 24px;*/
  -webkit-animation: recordplay 0.3s linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes recordplay {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.tuneStick
{
  position: absolute;
  width: 6%;
  margin-top: -27.8%;
  margin-left: 23%;
}

.stickrotate
{
  -webkit-animation: rotate 1s;
  transform-origin: 50% 15%;
  display: inline-block;
  -webkit-transform: rotate(25deg);
  /*position: absolute;
  width: 40px;
  margin-top: 17px;
  margin-left: 160px;*/
}

@-webkit-keyframes rotate {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(25deg);
  }
}

.dropzoneMonitor
{
  position: absolute;
  width: 35%;
  height: 35%;
  margin-top: 20%;
  /*margin-left: 10%;*/
  /* border: 3px solid #89ECDA; */
  /*border: 3px solid #cba6f7;*/
  /*border-radius: 0px 30px 0px 0px;*/
  /* background-color: rgba(225,225,225,0.4); */
  /*background-color: #0f133f;*/

}

.bars
{
  width: 35%;
  height: 40%;
  margin-top: 3%;
  position: relative;
  margin-left: 4.5%;
}

.bar
{
  background: linear-gradient(to bottom, #c48def 0%, #8864f4 100%);
  width: 12%;
  margin-left: 10px;
  /*height: 30px;*/
  /*border-bottom: 1px solid #fff;*/
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  /*i can put animation here to show the effect before js is fixed*/

}

.playing
{
  -webkit-animation: playing;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@-webkit-keyframes playing {
  10%{
    height: 100%;
  }
  30%{
    height: 160%;
  }
  40%{
    height: 210%;
  }
  50%{
    height: 130%;
  }
  70%{
    height: 70%;
  }
  80%{
    height: 140%;
  }
  90%{
    height: 90%;
  }
  100%{
    height: 0%;
  }
}

.no1
{
  animation-delay: 0.3s;
}

.no2
{
  animation-delay: 0.5s;
  left: 22%;
}

.no3
{
  animation-delay: 0.2s;
  left: 44%;
}

.no4
{
  animation-delay: 0.7s;
  left: 66%;
}

.no5
{
  animation-delay: 0.1s;
  left: 88%;
}

.no6
{
  animation-delay: 0.9s;
  left: 110%;
}

.no7
{
  animation-delay: 0.4s;
  left: 132%;
}

.no8
{
  animation-delay: 0.5s;
  left: 154%;
}

.no9
{
  animation-delay: 0.2s;
  left: 176%;
}

.no10
{
  animation-delay: 0.3s;
  left: 198%;
}

.no11
{
  animation-delay: 0.9s;
  left: 220%;
}

#musicMixes
{
  display: flex;
  flex-direction: column;
}

.beats, .melodies, .effects, .voices
{
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  margin-bottom: 5%;
  width: 320px;
}

#beat1, #beat2, #beat3
{
  background: url(../images/eletronic_music1.svg) no-repeat;
  width: 80px;
  height: 80px;
  margin-right: 10%;
}

#melody1, #melody2, #melody3
{
  background: url(../images/eletronic_music2.svg) no-repeat;
  width: 80px;
  height: 80px;
  margin-right: 10%;
}

#effect1, #effect2, #effect3
{
  background: url(../images/eletronic_music3.svg) no-repeat;
  width: 80px;
  height: 80px;
  margin-right: 10%;
}

#voice1, #voice2, #voice3
{
  background: url(../images/eletronic_music4.svg) no-repeat;
  width: 80px;
  height: 80px;
  margin-right: 10%;
}

.thisPlaying
{
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.beats img
{
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.melodies img
{
  width: 85%;
  margin-left: 8%;
}

#effect1 img, #effect2 img
{
  width: 75%;
  margin-top: 12%;
  margin-left: 12%;
}

#effect3 img
{
  width: 85%;
  margin-top: 2%;
  margin-left: 7%;
}

.voices img
{
  width: 85%;
  margin-top: 4%;
  margin-left: 8%;
}

.trackTitle
{
  /* border-bottom: 2px solid blue; */
  font-weight: bold;
  width: 20%;
  padding-bottom: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: 2px;
}

/*@media screen and (max-width: 600px) {
  .electro{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
  }
}*/
